<div class="bg-white shadow-md rounded-lg p-8 flex flex-col justify-center items-center">
    <img class="rounded-full h-32 w-32 object-cover mb-4" src="{{ bankmanagementaccount?.image }}" alt="{{ bankmanagementaccount?.firstName }} {{ bankmanagementaccount?.lastName }}">
     
     <app-editable-element [value]="bankmanagementaccount?.firstName"  (valueChange)="onFirstNameChange($event)"></app-editable-element>
     <app-editable-element [value]="bankmanagementaccount?.lastName"  (valueChange)="onLastNameChange($event)"></app-editable-element>
     <app-editable-element [value]="bankmanagementaccount?.email" (valueChange)="onEmailChange($event)"></app-editable-element>
     <app-editable-element [value]="bankmanagementaccount?.gender" (valueChange)="onGenderChange($event)"></app-editable-element>
     <app-editable-element [value]="bankmanagementaccount?.address" (valueChange)="onAdressChange($event)"></app-editable-element>
    
    <div class="mt-8 flex justify-center">
      <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full mr-4">
        Edit
      </button>
      
    </div>
  </div>
  


  