<div class="flex">
<div class="p-4 bg-white shadow rounded-lg flex space-x-4  items-center ml-20">
  <div class="mr-80 ml-5">
    <h2 class="text-lg font-bold mb-2">Total Balance</h2>
    <p class="text-2xl font-bold text-green-500">${{ totalBalance }}</p>
  </div>
</div>

<div class="p-4 bg-white shadow rounded-lg flex flex-row-reverse space-x-4 space-x-reverse items-center ml-20">
  <div class="mr-80 ml-5">
    <h2 class="text-lg font-bold mb-2">Total Customers</h2>
    <p class="text-2xl font-bold text-green-500">{{ totalCustomers }}</p>
  </div>
</div>
</div>